@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: 400;
    src: local('SEGA LOGO FONT'), url('SEGA.TTF') format('truetype');
}

h1 {
    font-family: 'SEGA LOGO FONT', sans-serif;
    font-weight: 200;
    color: #0ccac4;
}